*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body {
    background-color: #73C2FB;

}
.container{
    width: 35%;
    margin: 0 auto;
    height: 619px;
    box-sizing: border-box;
    margin-top: 20px;
}
.header {
    background-color: #3A69D2;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff;
    font-size: 2rem;
    font-weight: bold;
}
.header span {
    font-size: 0.8rem;
    font-weight: normal;
}
.section {
    background-color: #1F2937;
    padding: 2rem;
}
.button-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.button-box button {
    border: 1px solid #D5D4D8;
    border-radius: 7px;
    padding: 11px;
}
.task-total-box {
    display:flex;
    justify-content: space-between;
    color: #D5D4D8;
    margin-top: 1rem;
    font-size: 12px;
}
.task-total-detail-box{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: #fff;
    font-size: 20px;
}
.remove-btn {
    cursor: pointer;
    font-size: 9px;
    color: #D5D4D8;
    margin-left: 7px;
}
.line {
    margin-top: 1rem;
    border: 1px solid #C3C6DB;
}
#pay-mode-text{
    color: #D5D4D8;
    font-size: 8px;
}
.last-button button{
    width: 100%;
    background: #3A69D2;
    color: #fff;
    border-radius: 7px;
    border: none;
    margin-top: 2rem;
    padding: 0.5rem;
}
.last-button i {
    margin-right: 10px;
}

@media only screen   
and (min-device-width : 270px)   
and (max-device-width : 600px)  {
    
.container{ 
    width: 99%;
    margin-top: 1%;
}
.section {
    padding: 1rem;
}
.button-box button {
    padding: 5px;
}
}

@media only screen   
and (min-device-width : 600px)   
and (max-device-width : 1000px)  
    {
        .container{ 
            width: 99%;
            margin-top: 1%;
        }
        .section {
            padding: 1rem;
        }
    }